.card-label__container{
	position: absolute;
	bottom:90px;
	right: 0;
}

.card-label__content{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 2rem;
	background-color: #0d0d0d;
	color: white;
	font-family: 'Segoe UI';
	font-weight: bold;
	font-size: .75rem;
	height: 1.75rem;
	opacity: .8;
}
